body {
    margin: 0;
    background: #1e1e1e;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

a {
  color: #F5F5F5;
  text-decoration: none;
}

body {
  font-family:  'Inter', 'Arial', sans-serif;
  font-weight: 400;
}

.display-block {
  display: block;
}

.test-align-left {
  text-align: left;
}

.test-align-center {
  text-align: center;
}

.test-align-right {
  text-align: right;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: auto;
}

.content-section_theme_dark {
  background: black;
  color: white;
}

.content-section_theme_bright {
  background: yellow;
}

.header {
  padding: 24px 20px;
  display: flex;
}

.header_logo {
  width: 78.45px; 
  height: 15.43px;
}

.header_menu {
  margin-left: auto;
}

.header_menu-list {  
  list-style: none;
}

.header_menu-item {
  text-decoration: underline;
  margin-top: 12px;
}

.header_menu-link {
  font-size: 16px;
  line-height: 19.2px;
}

.cover {
  background-image: url(../images/cover.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 97% auto;
  background-position: 20px 36px;
} 

.cover_header {
  padding-top: 7px;
  font-family:  'EB-Garamond';
  font-weight: 400;
  font-size: 72px;
}

.cover_header-first-line {
  padding-left: 20px;
}

.cover_header-third-line {
  padding-right: 24px;
}

.intro {
  padding: 24px 20px;
} 

.reasons { 
  padding: 24px 20px;
}

.how-to {
  padding: 24px 20px;
}

.footer {
  padding: 24px 20px;
}

