body {
    margin: 0;
    background: #1e1e1e;
    font-family:  'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: subpixel-antialiased;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

a {
  color: #F5F5F5;
  text-decoration: none;
}

.display-block {
  display: block;
}

.test-align-left {
  text-align: left;
}

.test-align-center {
  text-align: center;
}

.test-align-right {
  text-align: right;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: auto;
}

.content-section_theme_dark {
  background: #131313;
  color: white;
}

.content-section_theme_bright {
  background: yellow;
}

.header {
  padding: 24px 20px;
  display: flex;
}

.header_logo {
  width: 78.45px;
  height: 15.43px;
}

.header_menu {
  margin-left: auto;
  height: 84px;
}

.header_menu-list {
  list-style: none;
}

.header_menu-item {
  text-decoration: underline;
  margin-top: 12px;
}

.header_menu-link {
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #F5F5F5;
}

.cover {
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-size: 95% auto;
  background-position: 18px 30px;
} 

.cover_header {
  font-family:  'EB Garamond';
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  line-height: 100%;
}

.cover_header-first-line {
  padding-top: 8px;
  padding-left: 20px;
}

.cover_header-second-line {
  margin-left: -3px;
}

.cover_header-third-line {
  padding-right: 23px;
  padding-bottom: 5px;
}

.intro {
  padding: 30px 20px 38px;
}

.intro_heading {
  display: flex;
  line-height: 120%;
}

.intro_title {
  color: #CCCCCC;
}

.intro_date {
  margin-left: auto;
  color: #CCCCCC;
  white-space: nowrap;
}

.intro_main-text {
  padding-top: 24px;
  line-height: 135%;
  color: #F5F5F5;
}

.reasons {
  padding: 24px 20px;
}

.how-to {
  padding: 24px 20px;
}

.footer {
  padding: 24px 20px;
}

